# Dependency directory
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
__tests__/__tests__/runner/*
lib/**/*
#dist/**/*